
# HTID:21718180: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:21718180:

SetEnv DB_HOST localhost
SetEnv DB_USER root
SetEnv DB_PASS 
SetEnv DB_NAME id20764505_pollossilver