@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.container-empl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-empl .title {
    background: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(129, 129, 129, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    width: 80%;
    text-align: center;
}

.container-empl .principalView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 50px 0;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(129, 129, 129, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    text-align: center;
}

/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
.list-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    width: 100%;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 50px;
    padding: 25px 50px;
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;

    height: 280px;
    /* height: 480px; */

    background: #fff;
    border-radius: 32px;
    background: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(129, 129, 129, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    transition: 0.5s;
}

.container .card:hover {
    height: 480px;
}

.container .card .card-title {
    position: absolute;
    top: 20px;
    width: 80%;
    height: auto;
    padding: 0 1em;
    border-radius: 12px;
    background: #333;
    transition: 0.5s;
}

.container .card:hover .card-title {
    top: -35px;

}

.container .card .card-title .label_text,
.container .card .card-title,
.container .card .card-title .input_container .input_text:focus~.label_text,
.container .card .card-title .input_container .input_text:disabled~.label_text {
    color: rgba(255, 255, 255, 0.90);
}

.container .card .content {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 150px;
    padding: 0 30px;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
}

.container .card:hover .content {
    top: 50px;
    height: 430px;
}

/* -------------------------------------------------------------------------- */
.swich_state {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.swich_state p {
    font-weight: bold;
}

.swich_state div {
    display: flex;
}
input[type="checkbox"] {
    background-image: -webkit-linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1)), -webkit-linear-gradient(left, rgb(245, 43, 43) 50%, rgb(0, 199, 27) 50%);
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 15px 0;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, .5), inset 0 0 10px hsla(0, 0%, 0%, .5), 0 0 0 1px hsla(0, 0%, 0%, .1), 0 -1px 2px 2px hsla(0, 0%, 0%, .25), 0 2px 2px 2px hsla(0, 0%, 100%, .75);
    cursor: pointer;
    height: 25px;
    padding-right: 25px;
    width: 75px;
    -webkit-appearance: none;
    -webkit-transition: .25s;
}

input[type="checkbox"]:after {
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 0%, .1));
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1), inset 0 -1px 1px 1px hsla(0, 0%, 0%, .25), 0 1px 3px 1px hsla(0, 0%, 0%, .5), 0 0 2px hsla(0, 0%, 0%, .25);
    content: '';
    display: block;
    height: 25px;
    width: 50px;
}

input[type="checkbox"]:checked {
    background-position: 0 0, 35px 0;
    padding-left: 25px;
    padding-right: 0;
}

/* --------------------------------- Inputs --------------------------------- */
.input_container {
    position: relative;
    margin-top: 25px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.input_container .input_text,
.input_container .input_text:disabled {
    font-size: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background: transparent;
    color: var(--color-black);
}

.input_container .input_text:focus,
.input_container .input_text:disabled:focus {
    outline: none;
}

/* LABEL ======================================= */
.input_container .label_text {
    color: rgba(111, 111, 111, 1);
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    letter-spacing: 2px;
}

/* active state */
.input_container .input_text:focus~.label_text,
.input_container .input_text:valid~.label_text,
.input_container .input_text:disabled~.label_text {
    top: -20px;
    font-size: 15px;
    color: var(--color-card-important);
    text-transform: uppercase;
}

/* BOTTOM BARS ================================= */
.input_container .bar {
    position: relative;
    display: block;
}

.input_container .bar:before,
.input_container .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--color-card-important);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input_container .bar:before {
    left: 50%;
}

.input_container .bar:after {
    right: 50%;
}

/* active state */
.input_container .input_text:focus~.bar:before,
.input_container .input_text:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.input_container .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.input_container .input_text:focus~.highlight,
.input_container .input_text:disabled:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: var(--color-card-important);
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: var(--color-card-important);
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: var(--color-card-important);
    }

    to {
        width: 0;
        background: transparent;
    }
}
.btn_options div button {
    all: unset;
    padding: 0.5em 1em;
    border-radius: 12px;
    border: #fff 1px solid;
    background: #333;
    transition: 0.5s;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}
.btn_options div button:hover{
    background: none;
    border: #333 1px solid;
    color: #000;

}