<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="../../style/css/gc/clientes.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script type="text/javascript" src="../../js/gu/session_data.js"></script>
    <script type="text/javascript">
        var tipo_usuario

        window.onload = function () {
            session_data()
                .then(function (response) {
                    // usuario logueado?
                    if (response.length === 0)
                        window.location.href = "../../views/gu/login.html"
                    else
                        init(response)
                })
                .catch(function (error) { console.log(error) });
        };

        function init(response) {
            // Detecciones de tipos de usuarios
            tipo_usuario = response.usuario.tipousuario.tipo
            switch (tipo_usuario) {
                case "Jefe":
                    break;

                case "Empleado":
                    $("#btn-productos").hide();
                    $("#btn-sucursales").hide();
                    $("#btn-informes").hide();
                    break;
            }
        }
    </script>
</head>

<body>
    <div class="container-AdminCustomers">
        <div class="AC-title">
            <h2>ADMINISTRACION DE Clientes</h2>
        </div>
        <div class="AC-principalView">
            <div>

            </div>
            <div>
                <input type="text" id="search" placeholder="Buscar Empleado">

                <table>
                    <caption>Listado de Clientes</caption>
                    <thead>
                        <tr>
                            <th>CI</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Telefono</th>
                            <th>Descripcion de la dirección</th>
                            <th>Fecha de Registro</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>
                                <select name="customer-status">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                                <button>
                                    Actalizar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<!-- ----------------------------------------------------------------------- -->
<script>
    $(document).ready(function () {
        list_customers();

        $("#search").on('input', function (event) {
            let search = $(this).val();
            if (search.length > 0) {
                const url_php = "../../php/gc/search_customers.php";
                const postData = {
                    search: search,
                };
                $.post(url_php, postData, function (response) {
                    response = JSON.parse(response)
                    var list = "";
                    response.forEach(function (customer) {
                        list += create_row_customer(customer);
                    });
                    $("tbody").html(list);
                });
            } else {
                list_customers();
            }
        });

    });

    function get_customers() {
        let url_php = "../../php/gc/get_customers.php";
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: url_php,
                method: "post",
                dataType: "json",
                success: function (response) {
                    resolve(response);
                },
                error: function (error) {
                    reject(error);
                }
            });
        });
    }

    function create_row_customer(customer) {
        let customer_state = customer.estado === 1 ? `
            <option value="1" selected>Activo</option>
            <option value="0">Inactivo</option>
        ` : `
            <option value="1">Activo</option>
            <option value="0" selected>Inactivo</option>
        `;
        return `
        <tr>
            <td>${customer.ci}</td>
            <td>${customer.nombres}</td>
            <td>${customer.apellidos}</td>
            <td>${customer.telefono}</td>
            <td>${customer.descripcion_direccion}</td>
            <td>${customer.fecha_hora}</td>
            <td>
                <select>
                    ${customer_state}
                </select>
                <button>
                    Actualizar
                </button>
            </td>
        </tr>
    `;
    }

    function list_customers() {
        let list = "";
        get_customers().then(function (response) {
            response.forEach(customer => {
                list += create_row_customer(customer);
            });

            $("tbody").html(list);

            $("tbody button").click(function () {
                let ci = $(this).closest('tr').find('td:first').text();
                var estado = $(this).closest('tr').find('select').val();

                const url_php = "../../php/gc/actualizar_estado.php"
                const postData = {
                    cliente_id: ci,
                    nuevo_estado: estado,
                }
                $.post(url_php, postData, function (response) {
                    alert(response)
                })
            })


            if (tipo_usuario == "Empleado") {
                $("tbody select").prop('disabled', true);
                $("tbody button").hide()
            }
        }).catch(function (error) { console.log('%c%s', 'color: #fff000', JSON.stringify(error)); });
    }
</script>

</html>